@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;
@plugin "daisyui";

html, body, #root {
  height: 100%;
  margin: 0;
  background-color: #fafafa;
  justify-content: center;
  align-items: center;
}

.mb-6{
  justify-content: center;
  align-items: center;
}

